* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: #12121c;
}
  

.white {
	color: white;
}

.dflex {
	display: flex;
}

.cflex {
	display: flex;
	flex-direction: column;
}

.main-color {
	color: #617DE8;
}

.btn-theme {
	background: linear-gradient(90deg, rgba(58,124,212,1) 35%, rgba(111,26,192,1) 100%);
}